#map {
    display: block;
    width: 100%;
    height: 400px;
}

#street-view {
    width: 100%;
    height: 400px;
}

#terrain-view {
  width: 100%;
  height: 400px;
}

.main.container {
    margin-top: 7em;
}
